*{
    font-family: 'Bree Serif', serif;
}
.container{
    display: grid;
    grid-template-columns: 2fr 0fr 2fr;
     grid-template-rows: 50px 700px;
    grid-gap: 100px 100px;  
    border:1px solid transparent;
    background: #F9E0FA;
}
.header{
    border:1px solid green;
    grid-column: 1/-1;

 
}
.login{
    border:1px solid transparent;
    grid-column: 1/2;
    margin-left: 50px;
    height:600px;
    width: 100%;
    text-align: center;
    background: #435555;
    border-radius: 50px;
}
.logo{
    border:1px solid transparent;
    grid-column: 3/4;
    margin-right: 50px;
    height:600px;
    /* width:70%; */
    /* background: #393E3E; */
}
h1{
    font-weight: bold;
    font-size:50px;
    
}
.header{
    text-align: center;
    background:#5E6474;
    font-size:40px;
    font-weight:bold;
    color:#CD9C73;
}
form{
    padding:30px 10px 50px 10px;
}
p{
    font-size: 20px;
    
}
input{
    padding:10px 350px 10px 10px;
    border-radius: 5px;
}
button{
    padding:20px 100px 20px 100px;
    border-radius: 30px;
    font-size: 20px;
    color:white;
}
img{
     width:100%; 
    height:100%; 
}
.bttn{
    background: blue;
}
.btn{
    background: #1E474E;
}
.btn:hover

{
    cursor: pointer;
    background: orange;
    color: black;
}
.bttn:hover

{
    cursor: pointer;
    background: cyan;
    color: black;
}
